@media screen and (max-width: 760px) {
    
    body {
        padding: 15px 28px;
    }

    header {
        flex-direction: column;
    }

    li {
        margin: 10px;
    }

    main {
        flex-direction: column;
        margin-top: 0px;
    }

    h2 {
        font-size: 33px;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    ul {
        padding-left: 0px;
    }

    input {
        margin-top: 18px;
        height: 15px;
        padding: 12px;
        font-size: 15px;
    }

    input[type="submit"] {
        align-self: center;
    }

    img {
        display: none;
    }
}